/*
Theme Name: Author
Theme URI: https://www.competethemes.com/author/
Author: Compete Themes
Author URI: https://www.competethemes.com
Description: Author is designed for publishers who want readers. That's why Author is fast, responsive, accessibility-ready, and optimally designed for reading. All scripts and stylesheets are minified, concatenated, and conditionally loaded to maximize performance. The layout adapts fluidly to all screen sizes to enhance usability. As one of few accessibility-ready themes, it performs well for users with wide ranges of disabilities. Lastly, based on the ancient Van de Graaf canon, Author is optimally designed for reading. Author is the theme your content deserves. See our fully setup live demo here: https://www.competethemes.com/author-live-demo/
Version: 1.20.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, left-sidebar, blog, accessibility-ready, custom-menu, featured-images, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
Text Domain: author

Author WordPress Theme, Copyright 2016 Compete Themes
Author is distributed under the terms of the GNU GPL
*/
/*===== Variables =====*/
/* Theme Colors */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/***** Silent Classes *****/
h1, .post-title {
  font-size: 2.3125em;
  /* 37px / 16px */
  line-height: 1;
}

h2 {
  font-size: 1.75em;
  /* 28px / 16px */
  line-height: 1.321;
  /* 37px */
}

h3, .site-title, .archive-header h1,
.pagination h1 {
  font-size: 1.3125em;
  /* 21px / 16px */
  line-height: 1.143;
  /* 24px */
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="file"]):not([type="image"]),
textarea, input[type="submit"], .tagline, .post-tags a, .widget_tag_cloud a, .further-reading span, .bypostauthor .author-name:after, .comment-footer a,
.comment-footer span, .widget > *, .site-footer .design-credit, .singular-attachment .attachment-caption {
  font-size: 0.75em;
  /* 12px / 16px */
  line-height: 1.5;
  /* 18px */
}

.site-title a, .menu-primary a, .post-tags a, .widget_tag_cloud a, .sidebar-primary .widget_rss .widget-title a {
  color: white;
}
.site-title a:link, .menu-primary a:link, .post-tags a:link, .widget_tag_cloud a:link, .sidebar-primary .widget_rss .widget-title a:link, .site-title a:visited, .menu-primary a:visited, .post-tags a:visited, .widget_tag_cloud a:visited, .sidebar-primary .widget_rss .widget-title a:visited {
  color: white;
}
.site-title a:hover, .menu-primary a:hover, .post-tags a:hover, .widget_tag_cloud a:hover, .sidebar-primary .widget_rss .widget-title a:hover, .site-title a:active, .menu-primary a:active, .post-tags a:active, .widget_tag_cloud a:active, .sidebar-primary .widget_rss .widget-title a:active, .site-title a:focus, .menu-primary a:focus, .post-tags a:focus, .widget_tag_cloud a:focus, .sidebar-primary .widget_rss .widget-title a:focus {
  color: white;
}

.sidebar-primary .widget a {
  color: #CCCCCC;
}
.sidebar-primary .widget a:link, .sidebar-primary .widget a:visited {
  color: #CCCCCC;
}
.sidebar-primary .widget a:hover, .sidebar-primary .widget a:active, .sidebar-primary .widget a:focus {
  color: white;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  background: #27292B;
  color: #27292B;
  -webkit-font-smoothing: subpixel-antialiased;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}

.overflow-container {
  position: relative;
  overflow: hidden;
  height: auto;
  min-height: 100%;
}

.max-width {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100%;
}

.main {
  position: relative;
  margin: 0 auto;
  background: #F0F1F2;
  padding: 1.5em 0;
  min-height: 100vh;
  min-height: calc(100vh - 120px);
}

.admin-bar .main {
  min-height: calc(100vh - 166px);
}

@media all and (min-width: 782px) {
  .admin-bar .main {
    min-height: calc(100vh - 152px);
  }
}
@media all and (min-width: 59.375em) {
  .main {
    min-height: calc(100vh - 36px);
  }

  .admin-bar .main {
    min-height: calc(100vh - 68px);
  }
}
p {
  margin: 1.5em 0;
}

a {
  color: #27292B;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
a:link, a:visited {
  color: #27292B;
}
a:hover, a:active, a:focus {
  color: #5c6066;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Rokkitt", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h4, h5, h6 {
  font-size: 1em;
  line-height: 1.5;
}

ul,
ol {
  font-size: 1em;
  padding: 0;
  margin: 1.5em;
}
ul ul, ul ol,
ol ul,
ol ol {
  margin: 0 1.5em;
}

ul ul,
ol ol,
ul ol,
ol ul,
li li {
  font-size: 1em;
}

/* Markup styles */
pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  background: #F0F1F2;
  padding: 0.75em;
}

code {
  background: #F0F1F2;
  padding: 0 0.375em;
}

blockquote {
  margin: 1.5em 1.5em 1.5em 0;
  padding-left: 1.5em;
  border-left: solid 3px #27292B;
}
blockquote cite {
  display: block;
  text-align: right;
}

hr {
  margin: 0.69em 0;
}

/* Table styles */
table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1.5em 0;
}

td {
  padding: 0.5em 0.75em;
  border: solid 1px black;
}

th {
  padding: 0.5em 0.75em;
  border: solid 1px black;
}

/* Images */
.alignleft {
  float: left;
  margin: 0 1.5em 1.5em 0;
}

.alignright {
  float: right;
  margin: 0 0 1.5em 1.5em;
}

.aligncenter {
  text-align: center;
  margin: 1.5em auto;
  display: block;
}

.alignnone {
  margin: 1.5em 0;
}

img,
.alignright,
.alignleft,
.aligncenter,
.alignnone,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

.wp-caption-text {
  margin: 0 0 1.84502em;
  font-size: 0.813em;
  line-height: 1.85;
  color: #3E4145;
}

/* Form styles */
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="file"]):not([type="image"]),
textarea {
  padding: 9px 12px;
  width: 100%;
  max-width: 27.75em;
  background: #F0F1F2;
  color: #27292B;
  outline: solid 1px #D9D9D9;
  border: none;
  border-radius: 0;
  font-family: "Lato", sans-serif;
  -webkit-appearance: none;
}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="file"]):not([type="image"]):focus,
textarea:focus {
  background: white;
}

textarea {
  max-width: 41.625em;
  overflow: auto;
  /* to hide scrollbar in IE */
}

input[type="submit"] {
  padding: 0.8em;
  width: 100%;
  color: white;
  background: #27292B;
  outline: none;
  border: none;
  border-radius: 0;
  max-width: 13.875em;
  font-family: "Lato", sans-serif;
  -webkit-appearance: none;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
  cursor: pointer;
  background: #5c6066;
}

input[type="search"] {
  margin-right: 2px;
  padding-right: 0.375em;
  /* so safari 'x' doesn't get cut off */
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

::-webkit-input-placeholder {
  color: #5c6066;
}

:-moz-placeholder {
  color: #5c6066;
}

::-moz-placeholder {
  color: #5c6066;
}

:-ms-input-placeholder {
  color: #5c6066;
}

/* ie image border fix */
a img {
  border: none;
}

.screen-reader-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
}

.skip-content {
  position: absolute;
  top: -4.5em;
  width: 100%;
  left: 0;
  display: block;
  text-align: center;
  color: white;
  z-index: 99;
  padding: 1.5em;
  background: #27292B;
  -webkit-transition: top 0.2s ease;
  transition: top 0.2s ease;
}
.skip-content:link, .skip-content:visited {
  color: white;
}
.skip-content:focus {
  top: 0;
  outline: none;
}

.admin-bar .skip-content:focus {
  top: 32px;
}

#breadcrumbs {
  margin-top: 0;
  padding: 0 7.4074%;
}

.singular #breadcrumbs {
  margin-bottom: 3em;
}

@media all and (min-width: 34.375em) {
  #breadcrumbs {
    padding: 0;
  }

  .singular #breadcrumbs {
    margin-bottom: 1.5em;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: none;
    /* none for no scaling */
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: none;
    /* none for no scaling */
  }
}
@media all and (min-width: 87.5em) {
  body:before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 0;
    background: #F0F1F2;
  }
}
.main-sidebar {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  position: relative;
  padding: 1.5em 7.4074%;
  background: #27292B;
  color: white;
}

.sidebar-primary {
  max-height: 0;
  overflow: hidden;
}

.open .sidebar-primary {
  max-height: 9999px;
}

@media all and (min-width: 34.375em) {
  .sidebar-primary {
    position: absolute;
    width: 320px;
    left: 0;
    padding: 0 8.69629%;
  }
}
@media all and (min-width: 59.375em) {
  .main-sidebar {
    float: left;
    width: 27.775%;
    padding: 3em 1.85185%;
    min-height: 100%;
  }

  .sidebar-primary {
    position: relative;
    max-height: none;
    width: auto;
    padding: 0;
  }
}
@media all and (min-width: 71.875em) {
  .main-sidebar {
    width: 22.23%;
  }
}
@media all and (min-width: 87.5em) {
  .main-sidebar {
    padding: 3em 26px;
    max-width: 311px;
  }
}
.site-header:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.title-container {
  float: left;
}

.site-avatar {
  display: none;
}

.site-title {
  font-family: "Rokkitt", sans-serif;
  line-height: 36px;
}
.site-title a {
  text-decoration: none;
}
.site-title a:hover, .site-title a:active, .site-title a:focus {
  text-decoration: underline;
}
.site-title img {
  max-width: 200px;
}

.tagline {
  display: none;
}

.social-media-icons {
  max-height: 0;
  overflow: hidden;
  clear: both;
}
.social-media-icons ul {
  list-style: none;
  margin: 1.5em 0 0;
  padding-top: 1.5em;
  border-top: solid 1px #3E4145;
}
.social-media-icons li {
  display: inline-block;
  margin-right: 8px;
}
.social-media-icons a {
  color: #CCCCCC;
  font-size: 1.5em;
  line-height: 1;
}
.social-media-icons a:link, .social-media-icons a:visited, .social-media-icons a:hover, .social-media-icons a:active, .social-media-icons a:focus {
  color: #CCCCCC;
}

.toggle-navigation {
  float: right;
  height: 36px;
  width: 36px;
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1;
  text-align: center;
  color: white;
  background: none;
  border: solid 1px #3E4145;
}
.toggle-navigation:focus {
  border-color: #999999;
  outline: none;
}

.open .social-media-icons {
  max-height: 9999px;
}
.open .toggle-navigation {
  border-color: #999999;
}

@media all and (min-width: 34.375em) {
  .site-title {
    font-size: 1.75em;
    /* 28px / 16px */
    line-height: 1;
  }

  .tagline {
    display: block;
    color: #CCCCCC;
    margin: 0;
  }

  .social-media-icons {
    position: absolute;
    width: 320px;
    top: 100%;
    left: 0;
    padding: 0 8.69629%;
  }
  .social-media-icons ul {
    margin-top: 0;
  }
}
@media all and (min-width: 43.75em) {
  .site-avatar {
    display: block;
    float: left;
    margin-right: 0.75em;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .title-container {
    position: relative;
    height: 48px;
  }
  .title-container .container {
    position: relative;
    float: left;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .title-container:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}
@media all and (min-width: 59.375em) {
  .toggle-navigation {
    display: none;
  }

  .site-avatar {
    float: none;
    height: 96px;
    width: 96px;
    margin: 0 auto 0.75em;
  }

  .title-container {
    float: none;
    height: auto;
    text-align: center;
    padding-bottom: 0.75em;
  }
  .title-container .container {
    float: none;
    top: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    margin-bottom: 0.75em;
  }

  .site-title img {
    max-width: 100%;
  }

  .social-media-icons {
    position: relative;
    max-height: none;
    width: auto;
    padding: 0;
    text-align: center;
  }
  .social-media-icons ul {
    border: none;
    padding: 0;
    margin-bottom: 1.5em;
  }
}
/* Styles for the primary menu */
.menu-primary {
  max-height: 0;
  overflow: hidden;
  clear: both;
}
.menu-primary a {
  text-decoration: none;
  display: inline-block;
  margin: 0.375em 0 0.375em;
  clear: both;
}
.menu-primary a:hover, .menu-primary a:active, .menu-primary a:focus {
  text-decoration: underline;
}

.menu-primary-items,
.menu-unset > ul {
  list-style: none;
  margin: 1.5em 0;
  padding: 1.5em 0 0;
  border-top: solid 1px #3E4145;
  /* Tier 2 */
}
.menu-primary-items ul,
.menu-unset > ul ul {
  list-style: none;
}
.menu-primary-items > li:last-child a,
.menu-unset > ul > li:last-child a {
  margin-bottom: 0;
}
.menu-primary-items > li:first-child a,
.menu-unset > ul > li:first-child a {
  margin-top: 0;
}
.menu-primary-items .menu-item-has-children,
.menu-primary-items .page_item_has_children,
.menu-unset > ul .menu-item-has-children,
.menu-unset > ul .page_item_has_children {
  position: relative;
}
.menu-primary-items .menu-item-has-children > a,
.menu-primary-items .page_item_has_children > a,
.menu-unset > ul .menu-item-has-children > a,
.menu-unset > ul .page_item_has_children > a {
  max-width: calc(100% - 36px);
}
.menu-primary-items .menu-item-has-children ul,
.menu-primary-items .page_item_has_children ul,
.menu-unset > ul .menu-item-has-children ul,
.menu-unset > ul .page_item_has_children ul {
  display: none;
  margin: 0 0 0 0.75em;
}
.menu-primary-items .menu-item-has-children ul a,
.menu-primary-items .page_item_has_children ul a,
.menu-unset > ul .menu-item-has-children ul a,
.menu-unset > ul .page_item_has_children ul a {
  color: #CCCCCC;
}
.menu-primary-items .menu-item-has-children ul a:link, .menu-primary-items .menu-item-has-children ul a:visited, .menu-primary-items .menu-item-has-children ul a:hover, .menu-primary-items .menu-item-has-children ul a:active, .menu-primary-items .menu-item-has-children ul a:focus,
.menu-primary-items .page_item_has_children ul a:link,
.menu-primary-items .page_item_has_children ul a:visited,
.menu-primary-items .page_item_has_children ul a:hover,
.menu-primary-items .page_item_has_children ul a:active,
.menu-primary-items .page_item_has_children ul a:focus,
.menu-unset > ul .menu-item-has-children ul a:link,
.menu-unset > ul .menu-item-has-children ul a:visited,
.menu-unset > ul .menu-item-has-children ul a:hover,
.menu-unset > ul .menu-item-has-children ul a:active,
.menu-unset > ul .menu-item-has-children ul a:focus,
.menu-unset > ul .page_item_has_children ul a:link,
.menu-unset > ul .page_item_has_children ul a:visited,
.menu-unset > ul .page_item_has_children ul a:hover,
.menu-unset > ul .page_item_has_children ul a:active,
.menu-unset > ul .page_item_has_children ul a:focus {
  color: #CCCCCC;
}
.menu-primary-items .menu-item-has-children ul ul a,
.menu-primary-items .page_item_has_children ul ul a,
.menu-unset > ul .menu-item-has-children ul ul a,
.menu-unset > ul .page_item_has_children ul ul a {
  color: #999999;
}
.menu-primary-items .menu-item-has-children ul ul a:link, .menu-primary-items .menu-item-has-children ul ul a:visited, .menu-primary-items .menu-item-has-children ul ul a:hover, .menu-primary-items .menu-item-has-children ul ul a:active, .menu-primary-items .menu-item-has-children ul ul a:focus,
.menu-primary-items .page_item_has_children ul ul a:link,
.menu-primary-items .page_item_has_children ul ul a:visited,
.menu-primary-items .page_item_has_children ul ul a:hover,
.menu-primary-items .page_item_has_children ul ul a:active,
.menu-primary-items .page_item_has_children ul ul a:focus,
.menu-unset > ul .menu-item-has-children ul ul a:link,
.menu-unset > ul .menu-item-has-children ul ul a:visited,
.menu-unset > ul .menu-item-has-children ul ul a:hover,
.menu-unset > ul .menu-item-has-children ul ul a:active,
.menu-unset > ul .menu-item-has-children ul ul a:focus,
.menu-unset > ul .page_item_has_children ul ul a:link,
.menu-unset > ul .page_item_has_children ul ul a:visited,
.menu-unset > ul .page_item_has_children ul ul a:hover,
.menu-unset > ul .page_item_has_children ul ul a:active,
.menu-unset > ul .page_item_has_children ul ul a:focus {
  color: #999999;
}
.menu-primary-items .menu-item-has-children.open > button,
.menu-primary-items .page_item_has_children.open > button,
.menu-unset > ul .menu-item-has-children.open > button,
.menu-unset > ul .page_item_has_children.open > button {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.menu-primary-items .menu-item-has-children.open > ul,
.menu-primary-items .page_item_has_children.open > ul,
.menu-unset > ul .menu-item-has-children.open > ul,
.menu-unset > ul .page_item_has_children.open > ul {
  display: block;
}

.toggle-dropdown {
  float: right;
  height: 32px;
  width: 32px;
  margin: 2px 0 0 0;
  padding: 0;
  font-size: 1em;
  line-height: 1;
  background: none;
  color: white;
  border: solid 1px #3E4145;
}
.toggle-dropdown:hover, .toggle-dropdown:active, .toggle-dropdown:focus {
  outline: none;
  border-color: #999999;
}
.toggle-dropdown:after {
  content: '\f107';
  font-family: 'FontAwesome';
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.open .menu-primary {
  max-height: 9999px;
}

/* Current Menu item */
.current-menu-item > a,
.current_page_item > a {
  text-decoration: underline;
}

@media all and (min-width: 34.375em) {
  .menu-primary {
    position: absolute;
    width: 320px;
    top: 100%;
    left: 0;
    padding: 0 8.69629%;
  }

  .menu-primary-items,
  .menu-unset > ul {
    margin-top: 0;
  }

  .rtl .menu-primary,
  .rtl .social-media-icons,
  .rtl .sidebar-primary {
    right: 0;
    left: auto;
  }
}
/* 950px */
@media all and (min-width: 59.375em) {
  .menu-primary {
    position: relative;
    max-height: none;
    width: auto;
    padding: 0;
  }

  .toggle-dropdown:hover {
    cursor: pointer;
  }
}
@media all and (min-width: 34.375em) {
  .main {
    padding: 1.5em 7.4074%;
  }

  .open ~ .main {
    -webkit-transform: translateX(320px);
    -ms-transform: translateX(320px);
    transform: translateX(320px);
  }
  .open ~ .main:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #27292B;
    opacity: 0.3;
  }
}
@media all and (min-width: 59.375em) {
  .main {
    float: right;
    padding: 3em 5.555%;
    width: 72.215%;
  }
}
@media all and (min-width: 71.875em) {
  .main {
    width: 77.77%;
    padding: 3em 16.665% 3em 5.555%;
  }
}
.entry {
  position: relative;
  margin-bottom: 1.5em;
}
.entry article {
  padding: 1.5em 7.4074%;
  background: white;
}

.featured-image {
  position: relative;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden;
}
.featured-image > a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 0;
}
.featured-image > img,
.featured-image > a > img {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.featured-image > img.no-object-fit,
.featured-image > a > img.no-object-fit {
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  top: 50%;
  right: 50%;
  left: auto;
  -webkit-transform: translateX(50%) translateY(-50%);
  -ms-transform: translateX(50%) translateY(-50%);
  transform: translateX(50%) translateY(-50%);
}
.featured-image .ccfic {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: #eeeeee;
  padding: 4px 8px;
  font-size: 13px;
}

.post-header {
  text-align: center;
  margin: 0.75em 0 1.5em;
}

.post-title a {
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.post-title a:hover, .post-title a:active, .post-title a:focus {
  color: #5c6066;
}

.post-content {
  margin: 1.5em 0;
}
.post-content iframe {
  max-width: 100%;
}
.post-content:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.singular .entry {
  margin-top: -1.5em;
}

.singular-post .post-content {
  border-bottom: solid 1px #D9D9D9;
}

.post-categories {
  margin: 1.5em 0;
}
.post-categories a {
  display: inline-block;
  margin-left: 0.75em;
}

.post-tags, .widget_tag_cloud {
  margin: 1.5em 0 0;
}
.post-tags ul, .widget_tag_cloud ul {
  list-style: none;
  margin: 0;
}
.post-tags li, .widget_tag_cloud li {
  display: inline-block;
}
.post-tags a, .widget_tag_cloud a {
  line-height: 1;
  display: inline-block;
  padding: 6px 20px;
  margin: 0 6px 6px 0;
  background: #27292B;
  border-radius: 24px;
  text-decoration: none;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.post-tags a:hover, .widget_tag_cloud a:hover, .post-tags a:active, .widget_tag_cloud a:active, .post-tags a:focus, .widget_tag_cloud a:focus {
  background: #5c6066;
}

.further-reading {
  text-align: center;
  background: #D9D9D9;
  padding: 0.75em 7.4074%;
}
.further-reading div {
  margin: 1.5em 0;
}
.further-reading span,
.further-reading a {
  display: block;
}

.blog .entry,
.archive .entry,
.search .entry {
  text-align: center;
}
.blog .post-content,
.archive .post-content,
.search .post-content {
  margin-bottom: 0.75em;
}
.blog .post-content p:last-child,
.archive .post-content p:last-child,
.search .post-content p:last-child {
  padding-top: 1.5em;
  margin-bottom: 0;
  border-top: solid 1px #D9D9D9;
}

.blog.full-post .entry,
.archive.full-post .entry,
.search.full-post .entry {
  text-align: left;
}
.blog.full-post .post-content p:last-child,
.archive.full-post .post-content p:last-child,
.search.full-post .post-content p:last-child {
  padding-top: 0;
  margin-bottom: 1.5em;
  border-top: none;
}

.entry.protected input[type='password'] {
  display: block;
  margin: 6px 0 10px;
}

@media all and (min-width: 34.375em) {
  .entry article {
    box-shadow: 0 0 2px 0 rgba(39, 43, 47, 0.1);
  }

  .singular .post-header {
    margin-bottom: 2.25em;
  }
  .singular .entry {
    margin-top: 0;
  }

  .further-reading:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  .further-reading div {
    width: 50%;
  }
  .further-reading .previous {
    text-align: left;
    float: left;
  }
  .further-reading .next {
    text-align: right;
    float: right;
  }
}
@media all and (min-width: 43.75em) {
  .post-title {
    font-size: 3.1875em;
    /* 51px / 16px */
  }
}
@media all and (min-width: 59.375em) {
  .entry {
    padding: 0;
  }
  .entry article,
  .entry .further-reading {
    padding: 1.5em 13.63197%;
  }
}
@media all and (min-width: 71.875em) {
  .entry article,
  .entry .further-reading {
    padding: 1.5em 9.999%;
  }

  .post-header {
    margin-top: 1.5em;
  }

  .has-post-thumbnail .post-header {
    margin-top: 0;
  }
}
.comments {
  margin: 1.5em 0;
}

.comments-number {
  background: white;
  box-shadow: 0 0 2px 0 rgba(39, 43, 47, 0.1);
  padding: 1.5em;
  margin: 1.5em 0;
  text-align: center;
}

.comment-list {
  margin: 1.5em 0;
  list-style: none;
}
.comment-list .children {
  list-style: none;
  margin: 1.5em 0;
  padding-left: 1.5em;
  border-left: solid 2px #D9D9D9;
}
.comment-list .children > li,
.comment-list > li {
  margin: 1.5em 0;
}
.comment-list .children > li .comment-respond,
.comment-list > li .comment-respond {
  box-shadow: none;
}
.comment-list .children > li .comment-respond small,
.comment-list > li .comment-respond small {
  font-size: 0.568em;
}

.comment-author {
  margin-bottom: 1.5em;
}
.comment-author:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.comment-author img {
  float: left;
  margin: 0 8px 0 0;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.comment-author .author-name {
  line-height: 48px;
}

.comment-content {
  margin: 1.5em 0;
  clear: both;
  border-bottom: solid 1px #D9D9D9;
}
.comment-content blockquote,
.comment-content ul,
.comment-content ol,
.comment-content pre,
.comment-content table {
  text-align: left;
}
.comment-content ul {
  list-style: disc;
}

.bypostauthor .author-name:after {
  content: ' (author)';
  text-transform: none;
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 2px;
}

.comment-footer {
  margin-top: 1.5em;
}

.comment-reply-link,
.comment-edit-link {
  margin-left: 2px;
  padding-left: 6px;
  border-left: solid 1px #999999;
}

.pingback .author-name {
  line-height: 1.5;
}
.pingback .comment-content {
  border-bottom: none;
  margin-bottom: 0;
}
.pingback p:last-child {
  margin-bottom: 0;
}

.comment-respond,
.comments-closed,
.comment-pagination {
  padding: 1.5em 7.4074%;
  background: white;
}
.comment-respond label,
.comments-closed label,
.comment-pagination label {
  display: block;
}

.comment-pagination {
  margin: 1.5em 0;
}
.comment-pagination p {
  margin: 0;
  width: 50%;
}
.comment-pagination:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.comment-pagination .previous-comment {
  text-align: left;
  float: left;
}
.comment-pagination .next-comment {
  text-align: right;
  float: right;
}

@media all and (min-width: 34.375em) {
  .comment-respond,
  .comments-closed,
  .comment-pagination {
    box-shadow: 0 0 2px 0 rgba(39, 43, 47, 0.1);
  }
}
@media all and (min-width: 43.75em) {
  .comments-number h2,
  .comments-number h3,
  .comment-respond h2,
  .comment-respond h3 {
    font-size: 2.3125em;
    /* 37px / 16px */
    line-height: 1;
  }

  .comment-list ul {
    padding-left: 3em;
  }
}
@media all and (min-width: 59.375em) {
  .comment-respond {
    padding: 3em 13.63197% 1.5em;
  }

  .comments-closed,
  .comment-pagination {
    padding: 1.5em 13.63197%;
  }
}
@media all and (min-width: 71.875em) {
  .comment-respond {
    padding: 3em 9.999% 1.5em;
  }

  .comments-closed,
  .comment-pagination {
    padding: 1.5em 9.999%;
  }
}
.archive-header,
.pagination {
  padding: 1.5em 7.4074%;
  margin-bottom: 1.5em;
  background: white;
  text-align: center;
}
.archive-header h1,
.pagination h1 {
  display: inline-block;
  margin-left: 6px;
}

.archive-header p {
  margin: 0.75em 0 0;
}

.pagination {
  position: relative;
  margin: 1.5em 0;
}
.pagination a,
.pagination span {
  margin: 0 4px;
}
.pagination .next {
  position: absolute;
  right: 7.4074%;
  left: auto;
}
.pagination .prev {
  position: absolute;
  left: 7.4074%;
  right: auto;
}

.infinite-scroll .pagination {
  display: none;
}

.sticky-status {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  padding: 6px 20px;
  background: #27292B;
  color: white;
}

@media all and (max-width: 71.875em) {
  .blog .sticky:not(.has-post-thumbnail) article {
    padding-top: 3em;
  }
}
@media all and (min-width: 34.375em) {
  .archive-header,
  .pagination {
    box-shadow: 0 0 2px 0 rgba(39, 43, 47, 0.1);
  }
}
@media all and (min-width: 59.375em) {
  .archive-header,
  .pagination {
    padding: 1.5em 13.63197%;
  }

  .pagination .next {
    right: 13.63197%;
  }
  .pagination .prev {
    left: 13.63197%;
  }
}
@media all and (min-width: 71.875em) {
  .archive-header,
  .pagination {
    padding: 1.5em 9.999%;
  }

  .pagination .next {
    right: 9.999%;
  }
  .pagination .prev {
    left: 9.999%;
  }
}
.widget {
  padding: 1.5em 0;
}
.widget .widget-title {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 0.75em;
}
.widget ul {
  list-style: none;
  margin: 0;
}
.widget ul a {
  text-decoration: none;
}
.widget ul a:hover, .widget ul a:active, .widget ul a:focus {
  text-decoration: underline;
}
.widget ul ul {
  margin: 6px 0 6px 12px;
}
.widget li {
  margin-bottom: 6px;
}

.sidebar-primary .widget {
  color: #CCCCCC;
  border-top: solid 1px #3E4145;
  padding: 1.5em 1px;
}
.sidebar-primary .widget-title {
  color: white;
}
.sidebar-primary .widget_recent_entries span {
  color: #999999;
}
.sidebar-primary .widget_archive ul ul li,
.sidebar-primary .widget_categories ul ul li,
.sidebar-primary .widget_nav_menu ul ul li {
  color: #999999;
}
.sidebar-primary .widget_archive ul ul a,
.sidebar-primary .widget_categories ul ul a,
.sidebar-primary .widget_nav_menu ul ul a {
  color: #999999;
}
.sidebar-primary .widget_archive ul ul a:link, .sidebar-primary .widget_archive ul ul a:visited,
.sidebar-primary .widget_categories ul ul a:link,
.sidebar-primary .widget_categories ul ul a:visited,
.sidebar-primary .widget_nav_menu ul ul a:link,
.sidebar-primary .widget_nav_menu ul ul a:visited {
  color: #999999;
}
.sidebar-primary .widget_archive ul ul a:hover, .sidebar-primary .widget_archive ul ul a:active, .sidebar-primary .widget_archive ul ul a:focus,
.sidebar-primary .widget_categories ul ul a:hover,
.sidebar-primary .widget_categories ul ul a:active,
.sidebar-primary .widget_categories ul ul a:focus,
.sidebar-primary .widget_nav_menu ul ul a:hover,
.sidebar-primary .widget_nav_menu ul ul a:active,
.sidebar-primary .widget_nav_menu ul ul a:focus {
  color: #999999;
}
.sidebar-primary .widget_rss .rssSummary {
  color: #999999;
}
.sidebar-primary .widget_rss cite,
.sidebar-primary .widget_rss span {
  color: #999999;
}
.sidebar-primary .widget_search input[type="search"] {
  background: white !important;
}
.sidebar-primary .widget_search input[type="submit"] {
  background: #3E4145;
}
.sidebar-primary .widget_search input[type="submit"]:hover, .sidebar-primary .widget_search input[type="submit"]:focus {
  background: #5c6066;
}

.widget_recent_entries span {
  display: block;
  line-height: 1;
  margin-bottom: 12px;
}

.widget_recent_comments ul a {
  text-decoration: underline;
}

.widget_archive ul ul,
.widget_categories ul ul,
.widget_nav_menu ul ul {
  margin-left: 12px;
}

.widget_calendar caption {
  text-align: left;
  margin-bottom: 1em;
}
.widget_calendar #today {
  background: #3E4145;
  color: white;
}
.widget_calendar td {
  text-align: center;
}
.widget_calendar #next,
.widget_calendar #prev {
  padding: 0;
}
.widget_calendar #next a,
.widget_calendar #prev a {
  display: block;
  text-align: center;
  padding: 6px 12px;
}

.widget_rss .widget-title a {
  text-decoration: none;
}
.widget_rss .widget-title img {
  margin-right: 4px;
}
.widget_rss .rssSummary {
  margin: 12px;
}
.widget_rss .rssSummary + cite {
  display: block;
  margin: 0 0 24px 12px;
}
.widget_rss li a {
  display: block;
}
.widget_rss cite,
.widget_rss span {
  margin-bottom: 12px;
  line-height: 1;
}
.widget_rss span + cite {
  margin-left: 2px;
}
.widget_rss span + cite:before {
  content: ' | ';
  font-style: normal;
}

.widget_tag_cloud a {
  background: #3E4145;
  margin-right: 0px;
}

.widget_search .search-form-container {
  font-size: 1em;
}

.site-footer {
  position: relative;
  clear: both;
}
.site-footer .design-credit {
  padding: 0.75em 7.4074%;
  background: #D9D9D9;
  color: #3E4145;
  text-align: center;
}
.site-footer .design-credit a {
  color: #3E4145;
}
.site-footer .design-credit a:link, .site-footer .design-credit a:visited, .site-footer .design-credit a:hover, .site-footer .design-credit a:active, .site-footer .design-credit a:focus {
  color: #3E4145;
}

@media all and (min-width: 59.375em) {
  .site-footer {
    float: right;
    width: 72.215%;
  }
}
@media all and (min-width: 71.875em) {
  .site-footer {
    width: 77.77%;
  }
}
@media all and (min-width: 87.5em) {
  .site-footer {
    position: relative;
  }
  .site-footer:after {
    content: '';
    position: absolute;
    top: 0;
    right: -999px;
    bottom: 0;
    left: 100%;
    background: #D9D9D9;
  }
}
.error404 .entry article {
  padding-bottom: 3em;
}

.search-form-container input[type="search"] {
  margin-bottom: 6px;
  max-width: none !important;
}
.search-form-container input[type="submit"] {
  max-width: none;
}

@media all and (min-width: 34.375em) {
  .main .search-form-container input[type="search"] {
    width: 70% !important;
    margin-bottom: 0;
  }
  .main .search-form-container input[type="submit"] {
    width: calc(30% - 6px);
  }
}
.search .archive-header .post-title {
  margin-bottom: 24px;
}
.search .search-bottom {
  padding-bottom: 3em;
}
.search .search-bottom p {
  margin-bottom: 1.5em;
}

.singular-attachment .entry .attachment {
  text-align: center;
}
.singular-attachment .entry .further-reading p {
  margin: 0;
}
.singular-attachment .attachment-container img {
  display: block;
}

/**
 * 14.2 Galleries
 */
.gallery {
  margin: 2.25em auto;
}

.gallery-item {
  display: inline-block;
  padding: 0.75em;
  text-align: center;
  vertical-align: top;
  width: 100%;
  margin: 0;
}
.gallery-item img {
  max-width: 100%;
  max-height: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-icon img {
  margin: 0 auto;
}

.gallery-caption {
  color: #5c6066;
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  padding: 0.5em 0;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}

/* Jetpack Galleries */
.tiled-gallery {
  margin: 2.25em auto !important;
}
.tiled-gallery .gallery-row {
  margin: 0 auto;
}

/*

ATTENTION:

Please do not edit this. Your changes will be overwritten when you update Author.

If you want to make CSS edits, use the "Custom CSS" section in the Customizer instead (Appearance > Customize).

If you want more information about customizing Author with CSS, check out this guide: https://www.competethemes.com/help/custom-css-author/

*/
